{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
  
    {{ form_start(form)}}
            {{ form_label(form.pdfFile) }}                
            {{ form_widget(form.pdfFile) }}
            <button type="submit">Envoyer</button>
        </div>
    {{form_end(form)}}
   
{% endblock %}

